<style>
      /** Progress **/
  .progress {
    border: 0.15em solid #337ab7;
    height: 1em;
  }
  
  .progress__bar {
    background-color: #337ab7;
    border: 0.1em solid transparent;
    height: 0.75em;
  }
</style>
<div class="container">
    <div class="row">
        <div class="col align-self-center">
            <p class="mb-1">&nbsp;</p>
            <button (click)="initiate()" type="button" class="btn btn-primary">Initiate Queue</button>
            <button (click)="playerLogin()" type="button" class="btn btn-primary">Login</button>
            <select id="selectedDevice" *ngIf="devices && devices.length >= 1" (change)="setDevice($event.target.value)" value="{{getActiveDeviceID()}}">
                <option *ngFor="let device of devices" value="{{device.id}}">{{device.name}}</option>
            </select>
            <div style="padding: 20px;">&nbsp;</div>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="itemResult && itemResult.item && itemResult.item.Type && itemResult.item.Type != '-1'">
        <div class="col-6 img-thumbnail">
            <h1 class="mx-auto d-block text-center"><span>{{itemResult.item.Name}}</span></h1>
            <h5 class="mx-auto d-block text-center"><em><span>{{itemResult.item.ArtistName}}</span></em></h5>
            <div>
                <img src="{{itemResult.item.ImageUrl}}" class="mx-auto d-block img-thumbnail" height="300" width="300" />
                <p class="my-3"></p>
                <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" attr.aria-valuenow="{{timerCurrent}}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': timerCurrent + '%', 'height.px': 5}"></div>
                </div>
            </div>
            <hr class="my-4">
            <p>Added By: {{itemResult.item.UserName}}</p>
            <!-- <div class="lead invisible">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div> -->
        </div>
    </div>
    <div *ngIf="data">
        <div class="main-wrapper">
            <img class="now-playing__img" style="max-height: 300px; max-width: 300px;" src="{{data.item.album.images[0].url}}">
            <div class="now-playing__side">
              <div class="now-playing__name">{{data.item.name}}</div>
              <div class="now-playing__artist">{{data.item.artists[0].name}}</div>
              <div class="now-playing__status">{{data.is_playing ? 'Playing' : 'Paused'}}</div>
              <div class="progress" style="max-width: 300px;">
                <div class="progress__bar" [ngStyle]="{'width' : (data.progress_ms * 100 / data.item.duration_ms) + '%'}"></div>
              </div>
            </div>
          </div>
          <!-- <div class="background" [ngStyle]="{'background.image' : 'url(' + data.item.album.images[0].url + ')'}" style="background-image:url({{data.item.album.images[0].url}})"></div> -->
        <div>
            &nbsp;
        </div>
    </div>
    <button (click)="playerLogout()" type="button" class="btn btn-primary">Logout</button>
    <div *ngIf="data" style="margin-top: 5px">
        <button (click)="playerBack()" type="button" class="btn btn-primary"><<</button>
        <button *ngIf="data && data.is_playing" (click)="playerPause()" type="button" class="btn btn-primary">||</button>
        <button *ngIf="data && !data.is_playing" (click)="playerPlay()" type="button" class="btn btn-primary">></button>
        <button (click)="playerForward()" type="button" class="btn btn-primary">>></button>
    </div>
</div>